body {
    font-family: 'Lucida Console';
    background: #FFE5B4
}

h1, h2, h3 {
    margin: auto;
    text-decoration: underline;
    text-align: center;
 
}





button {
    transition-duration: 0.2s;
    font-family: 'Lucida Console';
    border-radius: 1em;
    background-color: #8db5ff;
    text-align: center;
    padding: 0.75em;
    margin: auto;
}

button:hover {
    background-color: #7ba9ff;
    box-shadow: 0 0.1em 0.5em 0 rgba(0,0,0,0.25), 0 0.3em 0.4em 0 rgba(0,0,0,0.2)
}





input {
    margin: 0.5em;
    text-align: center;
    border-radius: 1em;
    background: #B4CEFF;
    padding: 0.5em;
    font-family: 'Lucida Console';
}


input::file-selector-button {
    transition-duration: 0.2s;
    font-family: 'Lucida Console';
    border-radius: 1em;
    background-color: #8db5ff;
    text-align: center;
    padding: 0.75em;
    margin: auto;
}




.download {
    transition-duration: 0.2s;
    font-family: 'Lucida Console';
    border-radius: 1em;
    background-color: #8db5ff;
    text-align: center;
    padding: 0.5em;
    margin: auto;
}

.passwordAlert {
    color: red;
    font-weight: bold;


}

.poshBox {
    margin: auto;
    text-align: center;
    border-radius: 1em;
    background: #B4CEFF;
    padding: 1em;
    width: fit-content;
    height: fit-content;
}

.passwordBox {
    margin: auto;
    text-align: center;
    border-radius: 1em;
    background: #B4CEFF;
    padding: 1em;
    width: fit-content;
    height: fit-content;
}

.hidden {
    display: none;
}

